<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login | Intence Media</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background: #191919; color: white; font-family: 'Bebas Kai', sans-serif; text-align: center;">

    <!-- Banner -->
    <header style="padding: 30px;">
        <a href="ab23223.github.io/IntenceMedia/" style="font-size: 2.5rem; color: white; text-decoration: none;">INTENCE MEDIA</a>
    </header>

    <!-- Login Form -->
    <h1>Admin Login</h1>
    <form method="post">
        <label>Username</label><br>
        <input type="text" name="username"><br><br>

        <label>Password</label><br>
        <input type="password" name="password"><br><br>

        <button type="submit">Login</button>
    </form>


    {% if error %}
        <p style="color: red; margin-top: 20px;">{{ error }}</p>
    {% endif %}

</body>
</html>
